/** @format */

.wrapper {
    min-width: 100px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 9px 16px;
    background-color: transparent;
    border: 1px solid transparent;
    user-select: none;
    border-radius: 8px;
    cursor: pointer;
}